{% extends "base_page.html" %}

{% load tz %}

{% block script %}
	<script type="text/javascript">
		$(function() {
			
			// create a chart
			var chart = new EBNChart("chart");
			
			var populateChart = function(dset)
			{
				// thread load
				var mainThreadLoad = new DatasetLineView(dset.systemStats.timeMarks, dset.systemStats.mainThreadLoad, { color:"blue", fillColor:"#D3D6FF" });
				chart.addDatasetView(mainThreadLoad);
			
				// UI Blocks
				var uiBlocks = new DatasetBlockView(dset.appSpeedStats);
				chart.addDatasetView(uiBlocks);
			
				// var netBlocks = new DatasetBlockView(dset.networkStats, { labels:false, blockHeight:16, blockTop:200, blockStagger:true });
				// chart.addDatasetView(netBlocks);
			
				// frameRate
				var frameRate = new DatasetLineView(dset.systemStats.timeMarks, dset.systemStats.frameRate, { color:"red" });
				chart.addDatasetView(frameRate);
				
				var subviewCount = new DatasetLineView(dset.systemStats.timeMarks, dset.systemStats.subviewCount, { color:"orange" });
				chart.addDatasetView(subviewCount);
			
				chart.draw();
			};
			
			
			// parse the supplied data
			var jsonData = jQuery.parseJSON("{{ metrics.data | escapejs }}");
			var dataset = new EBNPerformanceMetrics(jsonData);
			populateChart(dataset);
			
			initializeDragAndDrop("#dropzone", function(fileContents) {
				var jsonData = jQuery.parseJSON(fileContents);
				var dset = new EBNPerformanceMetrics(jsonData);
				chart.removeAllDatasetViews();
				populateChart(dset);
			});
			
		});
	  </script>
{% endblock script %}

{% block body %}
<div id="dropzone" style="visibility:hidden; opacity:0"></div>
<a href="/device/">Full Device List</a>&nbsp;&#124&nbsp;
<a href="/device/{{ device.name }}/">{{ device.name }}</a>&nbsp;&#124&nbsp;
<a href="/test_run_data/{{device.name}}/{{metrics.test_id}}/">Raw Test Data</a>
<br/>
<p>Test run at {{ metrics.time|timezone:'America/Los_Angeles' }}</p>
<p>Hardware: {{ hardware.modelName }} (iOS {{ hardware.systemVersion }}, {{ hardware.freeDiskSpace }} Free)</p>
<hr/>
<div id="chart" style="position:relative; width:100%; height:80vh"></div>
{% endblock body %}
